{% extends 'base.html' %}
{% load static %}


{% block content %}

 <!--Slider-Start-->
<section id="slider">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active" style="background-image:url(static/sisweb/images/Slider/01.jpg)">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
              <h1>We Are System-R</h1>
              <h2>We Create</h2>
              <p>ckhjshfjksdhfsdjhgjkshgkgkhsgskgkshgjkfhkhgkshgkskksggjkhgfjkhksghfjgk</p>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image:url(static/sisweb/images/Slider/02.jpg)">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
              <h1>We Are System-R</h1>
              <h2>We Inovate</h2>
              <p>djfhweihfowuowuytoyoetytoqtoeoooooooooooooooooooooooooooq</p>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image:url(static/sisweb/images/Slider/03.jpg)">
        <div class="carousel-caption container">
          <div class="row">
             <div class="col-md-7 col-sm-12 col-xs-12">
              <h1>We Are System-R</h1>
              <h2>Pushing Technology Forward</h2>
              <p>iowuoytyqtoiyhhngnbjsssssssssssssssssssssssssssssssssssssssss</p>
            </div>
          </div>
        </div>
      </div>
      <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a> <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a> </div>
  }
  </div>
  <!--/#home-carousel-->
</section>
<!--About-Section-Start-->
<section id="about">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="heading">
        <h2>ABOUT <span>US</span></h2>
        <div class="line"></div>
        <p><span><strong>F</strong></span>ind out more about us</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ab-sec">
        <div class="col-md-6">
          <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span>W</span>e Dont Just Use Technology,We Push it</h3>
           <h3 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms"><span></span>Forward</h3>
          <p><span><strong>L</strong></span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.Lorem Ipsum is simply dummy text of the printing and typesetting industry. book. </p>
        </div>
        <div class="col-md-6 ab-sec-img wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"><img src="{%static 'sisweb/images/Aboutus/01.jpg'%}" alt=""> </div>
      </div>
    </div>
  </div>
</section>
<!--About-Sec-2-Start-->


{% endblock content %}