{% extends 'base.html'%}

{% load static %}

{% block content %}


<div class="" style="background: rgb(46,126,215);
background: linear-gradient(90deg, rgba(46,126,215,0.7595413165266106) 0%, rgba(235,235,235,1) 0%, rgba(12,77,150,0.7595413165266106) 81%);">
  <div class="container">
    <div class="col-md-10 col-sm-10 col-xs-8">
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4"> </div>
  </div>
</div>
<!--Service-Section-Start-->
<section id="service">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="heading">
        <h2>OUR SERVI<span>CE</span></h2>
        <div class="line"></div>
        <p><span><strong>O</strong></span>ur  company offers the following services
          click on get a quotation to find out more about the service you desire</p>
      </div>
    </div>
    <div class="row">
      <div class="features-sec">
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
          <div class="media service-box">
            <div class="pull-left"> <i class="fa fa-line-chart"></i> </div>
            <div class="media-body">
              <h5 class="media-heading">Website Design</h5>
              <p>We build websites deppending on the clients needs maybe a static website, interactive </p>
            </div>
          </div>
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
          <div class="media service-box">
            <div class="pull-left"> <i class="fa fa-cubes"></i> </div>
            <div class="media-body">
              <h5 class="media-heading">Systems Design</h5>
              <p>Backed by some of the biggest names in the industry, system-R offers the following</p>
            </div>
          </div>
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
          <div class="media service-box">
            <div class="pull-left"> <i class="fa fa-pie-chart"></i> </div>
            <div class="media-body">
              <h5 class="media-heading">Training</h5>
              <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
            </div>
          </div>
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
          <div class="media service-box">
            <div class="pull-left"> <i class="fa fa-bar-chart"></i> </div>
            <div class="media-body">
              <h5 class="media-heading">SEO Services</h5>
              <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
            </div>
          </div>
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
          <div class="media service-box">
            <div class="pull-left"> <i class="fa fa-language"></i> </div>
            <div class="media-body">
              <h5 class="media-heading">Programming Classes</h5>
              <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
            </div>
          </div>
        </div>
        <!--/.col-md-4-->
        <div class="col-md-4 col-sm-6 col-xs-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
          <div class="media service-box">
            <div class="pull-left"> <i class="fa fa-bullseye"></i> </div>
            <div class="media-body">
              <h5 class="media-heading">Clean Code</h5>
              <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
            </div>
          </div>
        </div>
        <!--/.col-md-4-->
      </div>
    </div>
    <div class="experience">
      <div class="col-sm-6 col-xs-12">
        <div class="our-skills wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="single-skill wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
            <p class="lead">User Experiances</p>
            <div class="progress">
              <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="90" style="width: 95%;"> 95% </div>
            </div>
          </div>
          <div class="single-skill wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="400ms">
            <p class="lead">Web Design</p>
            <div class="progress">
              <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="80" style="width: 80%;"> 80% </div>
            </div>
          </div>
          <div class="single-skill wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
            <p class="lead">Programming</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuenow="0" aria-valuemin="100" aria-valuemax="60" style="width: 60%;"> 60% </div>
            </div>
          </div>
          <div class="single-skill wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="600ms">
            <p class="lead">Fun</p>
            <div class="progress">
              <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuenow="0" aria-valuemin="100" aria-valuemax="70" style="width: 70%;"> 70% </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms"> <img src="{% static 'sisweb/images/Service/01.jpg'%}" class="img-responsive" alt=""> </div>
     <br>
    </div>
  </div>
</section>
            
<!--Jquery-->
<script type="text/javascript" src="{% static 'sisweb/js/jquery.min.js' %}"></script>
<!--Boostrap-Jquery-->
<script type="text/javascript" src="{% static 'sisweb/js/bootstrap.js' %}"></script>
<!--Preetyphoto-Jquery-->
<script type="text/javascript" src="{% static 'sisweb/js/jquery.prettyPhoto.js' %}"></script>
<!--NiceScroll-Jquery-->
<script type="text/javascript" src="{% static 'sisweb/js/jquery.nicescroll.js' %}"></script>
<script type="text/javascript" src="{% static 'sisweb/js/waypoints.min.js' %}"></script>
<!--Isotopes-->
<script type="text/javascript" src="{% static 'sisweb/js/jquery.isotope.js' %}"></script>
<!--Wow-Jquery-->
<script type="text/javascript" src="{% static 'sisweb/js/wow.js' %}"></script>
<!--Count-Jquey-->
<script type="text/javascript" src="{% static 'sisweb/js/jquery.countTo.js' %}"></script>
<script type="text/javascript" src="{% static 'sisweb/js/jquery.inview.min.js' %}"></script>
<!--Owl-Crousels-Jqury-->
<script type="text/javascript" src="{% static 'sisweb/js/owl.carousel.js' %}"></script>
<!--Main-Scripts-->
<script type="text/javascript" src="{% static 'sisweb/js/script.js' %}"></script>
</body>
</html>

<!-- Hosting24 Analytics Code -->
<script type="text/javascript" src="http://stats.hosting24.com/count.php"></script>
<!-- End Of Analytics Code -->








{% endblock content %}