{% extends 'base.html' %}
{% load static %}




{% block content %}


<div class="" style="background: rgb(46,126,215);
background: linear-gradient(90deg, rgba(46,126,215,0.7595413165266106) 0%, rgba(235,235,235,1) 0%, rgba(12,77,150,0.7595413165266106) 81%);">
  <div class="container">
    <div class="col-md-10 col-sm-10 col-xs-8">
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-4"> </div>
  </div>
</div>


<div style="background-image:url(static/sisweb/images/Slider/01.jpg)">
<section id="contact">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="heading">
        <h2>CONTACT <span>US</span></h2>
        <div class="line"></div>
        <p><span><strong>Y</strong></span>ou need a quote,Need to know more about us ,or have a project you need us to have hands on , reach us by sending a message down below</p>
      </div>
    </div>
    <div class="text-center">
      <div class="col-md-6 col-sm-6 contact-sec-1">
        <h4>CONTACT IN<span>FO</span></h4>
        <ul class="contact-form">
          <li><i class="fa fa-map-marker"></i>
            <h6><strong>Address:</strong> 16th Floor , Findeco House, Lusaka,zambia </h6>
          </li>
          <li><i class="fa fa-envelope"></i>
            <h6><strong>Mail Us:</strong> <a href="#">systemR@systemR.com</a></h6>
          </li>
          <li><i class="fa fa-phone"></i>
            <h6><strong>Phone:</strong> +26 097-177-0875 </h6>
          </li>
          <li><i class="fa fa-wechat"></i>
            <h6><strong>Website:</strong> <a href="#">www.systemR.com</a> </h6>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
      <div class="card">
        <form id="main-contact-form" name="contact-form" method="post" action="#">
            {% csrf_token %}
          <div class="row  wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Name" required="required">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email Address" required autofocus>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" name="subject" class="form-control" placeholder="Subject" required/>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required></textarea>
          </div>
          <div class="form-group">
            <button tabindex="3" type="submit" name="submit" class="btn btn-succes btn-large">send message</button>
          </div>

        </form>
       </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock content %}

